<!DOCTYPE html>
<html lang="en" style="--primary-color: <%= template.color%>; --primary-background:<%= template.background_color%>">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%-about.name %></title>
    <!-- Font roboto -->
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <!-- Font awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />
    <!-- Stylesheet -->
    <link rel="stylesheet" href="/stylesheets/template1.css" />
  </head>
  <body>
    <div class="container main">
      <nav class="navbar navbar-expand-sm navbar-light">
        <a href="#" class="navbar-brand">Home</a>
        <button
          class="navbar-toggler d-lg-none"
          type="button"
          data-toggle="collapse"
          data-target="#collapsibleNavId"
          aria-controls="collapsibleNavId"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active" data-page="about">
              <a class="nav-link about" href="#about">about</a>
            </li>
            <li class="nav-item" data-page="new">
              <a class="nav-link new" href="#new">new</a>
            </li>
            <li class="nav-item" data-page="teach">
              <a class="nav-link teach" href="#teach">teach</a>
            </li>
            <li class="nav-item" data-page="thesis">
              <a class="nav-link thesis" href="#thesis">thesis</a>
            </li>
            <li class="nav-item" data-page="research">
              <a class="nav-link grant" href="#research">research</a>
            </li>
            <li class="nav-item" data-page="publications">
              <a class="nav-link publication" href="#publications"
                >publications</a
              >
            </li>
          </ul>
        </div>
      </nav>
      <div class="content wrap-about" id="about">
        <div class="avatar col-12 col-sm-12 col-md-5 col-lg-4">
          <img id="avatar-img" src="<%=avatar%>" alt="avatar" />
        </div>
        <div class="about-right col-12 col-sm-12 col-md-7 col-lg-8">
          <h3>
            <div class="name list-group-item"><%-about.name%></div>
          </h3>
          <div class="title">
            <h5><div class="position list-group-item"><%-about.level%></div></h5>
          </div>
          <div class="list-group education" id="group1">
            <% about.university.forEach(item => { %>
              <div class="hover">
                <div class="list-group-item">
                  <p><%-item%></p>
                </div>
              </div>
            <% }) %>
          </div>
        </div>
      </div>
      <div class="content wrap-address">
        <div class="title">
          <h2>Contact Information</h2>
        </div>
        <div class="list-group">
          <div class="contact-group">
            <i class="fa fa-address-card icon" aria-hidden="true"></i>
            <div class="list-group-item">
              <%-about.address %> 
            </div>
          </div>
          <div class="contact-group">
            <i class="fa fa-phone-square icon" aria-hidden="true"></i>
            <div class="list-group-item"><%-about.phone %></div>
          </div>
          <div class="contact-group">
            <i class="fa fa-fax icon" aria-hidden="true"></i>
            <div class="list-group-item"><%-about.fax %></div>
          </div>
          <div class="contact-group">
            <i class="fa fa-envelope icon" aria-hidden="true"></i>
            <div class="list-group-item">
              <% about.mail.forEach(mail => { %>
                <%- mail %>;
               <% }) %>
            </div>
          </div>
        </div>
      </div>
      <div class="content research">
        <div class="title">
          <h2>RESEARCH INTERESTS</h2>
        </div>
        <div class="list-group" id="group2">
          <% research_interest.forEach(element => { %>
            <div class="hover">
              <div class="list-group-item">
                <%- element %> 
              </div>
            </div>
          <% }) %>
        </div>
      </div>
      <div class="content academic-record">
        <div class="title mb-3">
          <h2>ACADEMIC RECORD</h2>
        </div>
        <div class="list-group" id="group3">
          <% academic.forEach(item => { %>
            <div class="academic-item hover">
              <i class="fas fa-arrows-alt btn-arrow"></i>
              <i class="fas fa-trash-alt btn-trash"></i>
              <div class="list-group-item academic-item-time"><%-item.time%></div>
              <div class="list-group-item academic-item-name">
                <a href="#"><%- item.university %></a>
              </div>
              <div class="list-group-item academic-item-location"><%- item.location %></div>
              <div class="list-group-item academic-level"><%- item.level %></div>
              <div class="list-group-item academic-description text-secondary"><%- item.descript %></div>
            </div>
          <% }) %>
        </div>
      </div>
      <div class="content new" id="new">
        <div class="title">
          <h2>NEW</h2>
        </div>
        <div class="list-group" id="groupNew">
          <div class="hover">
            <div class="list-group-item">
              <span
                >SOFTWARE QUALITY; SOFTWARE TESTING; METHODS IN SOFTWARE
                DEVELOPMENT</span
              >
            </div>
          </div>
          <div class="hover">
            <div class="list-group-item">
              <span>MULTI-OBJECTIVE OPTIMIZATION; PROJECT MANAGEMENT</span>
            </div>
          </div>
          <div class="hover">
            <div class="list-group-item">
              <span>BIG DATA PROCESSING AND ANALYTICS</span>
            </div>
          </div>
        </div>
      </div>
      <div class="content teaching" id="teach">
        <div class="title">
          <h2>TEACHING</h2>
        </div>
        <div class="list-group">
          <div class="wrap-year d-flex">
            <h4>ACADEMIC YEAR</h4>
            <div class="list-group-item" style="padding: 0; margin-left: 10px">
              <h4><%- teaching.academic_year %></h4>
            </div>
          </div>
          <div class="graduate mb-4">
            <div class="title">
              <h5 class="text-secondary">GRADUATE COURSES</h5>
            </div>
            <div class="list-group" name="same-text" id="group4">
              <% teaching.graduate_course.forEach(item => { %>
                <div class="hover">
                  <div class="list-group-item text-secondary">
                   <%- item %> 
                  </div>
                </div>
              <% }) %>
            </div>
          </div>
          <div class="university">
            <div class="title">
              <h5 class="text-secondary">UNDERGRADUATE COURSES</h5>
            </div>
            <div class="list-group" name="same-text" id="group5">
              <% teaching.undergraduate_courses.forEach(item => { %>
                <div class="hover">
                  <i class="fas fa-arrows-alt btn-arrow"></i>
                  <i class="fas fa-trash-alt btn-trash"></i>
                  <div class="list-group-item text-secondary">
                    <%- item %> 
                  </div>
                </div>
              <% }) %>
            </div>
          </div>
        </div>
      </div>
      <div class="content thesis" id="thesis">
        <div class="content-thesis">
          <div class="title">
            <h2>THESIS</h2>
          </div>
          <div class="list-group" id="group6">
            <% thesis.link.forEach(element => { %>
              <div class="hover thesis-link">
                <div class="list-group-item">
                  <%- element %> 
                </div>
              </div>
            <% }) %>
          </div>
          <% for( let i = 0; i < thesis.content.length; i++ ) { %>
            <% if (thesis.content[i].list_content) { %>
              <div class="thesis-item">
                <div class="title thesis-name">
                  <h5 class="list-group-item"><%-thesis.content[i].name%></h5>
                </div>
                <div class="list-group" name="same-text" id="group9">
                  <% thesis.content[i].list_content.forEach((item, ind) => { %>
                    <ol>
                      <div class="text-secondary" style="float: left; padding-top: .75rem; margin-right: .5rem;">
                        <%- ind + 1 %>.
                      </div>
                      <div class="hover">
                        <div class="list-group-item text-secondary">
                          <%- item %> 
                        </div>
                      </div>
                    </ol>
                  <% }) %>
                </div>
              </div>
            <% } %>
          <% } %>
        </div>
      </div>
      <div class="content research-grant" id="research">
        <div class="title">
          <h2>RESEARCH GRANTS</h2>
        </div>
        <div class="list-group" id="group10">
          <% research_grant.forEach((item, ind) => { %>
            <ol>
              <div class="text-secondary" style="float: left; padding-top: .75rem; margin-right: .5rem;">
                <%- ind + 1 %>.
              </div>
              <div class="hover">
                <div class="list-group-item text-secondary">
                  <%- item %> 
                </div>
              </div>
            </ol>
          <% }) %>
        </div>
      </div>
      <div class="content publications" id="publications">
        <div class="title">
          <h2 class="title">publications</h2>
        </div>
        <div class="publications-wrapper">
          <div class="publication-item">
            <div class="title">
              <h5 class="subtitle">BOOKS</h5>
            </div>
            <div class="list-group" name="same-text" id="group11">
              <% public.book.forEach((book, ind) => { %>
                <ol>
                  <div class="text-secondary" style="float: left; padding-top: .75rem; margin-right: .5rem;">
                    <%- ind + 1 %>.
                  </div>
                  <div class="hover">
                    <div class="pub-chosen-right">
                    </div>
                    <div class="list-group-item text-secondary">
                      <%- book %> 
                    </div>
                  </div>
                </ol>
              <% }) %>
            </div>
          </div>
          <div class="publication-detail">
            <div class="publication-wrapper">
              <div class="title">
                <h5 class="subtitle">PUBLISHED PAPERS (SELECTED)</h5>
              </div>
              <div class="publication-list list-group">
                <% if (public.paper.length>0) { %>
                  <div class="publication-item">
                    <div class="title">
                      <div>
                        <strong class="text-dark" style="opacity: 0.9; font-size: 17px"
                          >A) International Journals:</strong
                        >
                      </div>
                    </div>
                    <div class="list-group" name="same-text" id="group12">
                      <% public.paper[0].content.forEach((element, ind) => { %>
                        <ol>
                            <div class="text-secondary" style="float: left; padding-top: .75rem; margin-right: .5rem;">
                              <%- ind + 1 %>.
                            </div>
                            <div class="hover">
                              <div class="list-group-item text-secondary">
                                <%- element %> 
                              </div>
                            </div>
                        </ol>
                      <% }) %>
                    </div>
                  </div>
                  <div class="publication-item">
                    <div class="title">
                      <div>
                        <strong class="text-dark" style="opacity: 0.9; font-size: 17px"
                          >B) National Journals:</strong
                        >
                      </div>
                    </div>
                    <div class="list-group" name="same-text" id="group13">
                      <% public.paper[1].content.forEach((element, ind) => { %>
                        <ol>
                          <div class="text-secondary" style="float: left; padding-top: .75rem; margin-right: .5rem;">
                            <%- ind + 1 %>.
                          </div>
                          <div class="hover">
                            <div class="list-group-item text-secondary">
                              <%- element %> 
                            </div>
                          </div>
                        </ol>
                      <% }) %>
                    </div>
                  </div>
                  <div class="publication-item">
                    <div class="title">
                      <div>
                        <strong class="text-dark" style="opacity: 0.9; font-size: 17px"
                          >C) International Conferences:</strong
                        >
                      </div>
                    </div>
                    <div class="list-group" name="same-text" id="group14">
                      <% public.paper[2].content.forEach((element, ind) => { %>
                        <ol>
                          <div class="text-secondary" style="float: left; padding-top: .75rem; margin-right: .5rem;">
                            <%- ind + 1 %>.
                          </div>
                          <div class="hover">
                            <div class="list-group-item text-secondary">
                              <%- element %> 
                            </div>
                          </div>
                        </ol>
                      <% }) %>
                    </div>
                  </div>
                  <div class="publication-item" id="group15">
                    <div class="title">
                      <div>
                        <strong class="text-dark" style="opacity: 0.9; font-size: 17px"
                          >D) National Conferences:</strong
                        >
                      </div>
                    </div>
                    <div class="list-group" name="same-text" id="group16">
                      <% public.paper[3].content.forEach((element, ind) => { %>
                        <ol>
                          <div class="text-secondary" style="float: left; padding-top: .75rem; margin-right: .5rem;">
                            <%- ind + 1 %>.
                          </div>
                          <div class="hover">
                            <div class="list-group-item text-secondary">
                              <%- element %> 
                            </div>
                          </div>
                        </ol>
                      <% }) %>
                    </div>
                  </div>
                <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- JS -->
    <script src="/javascripts/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/javascripts/template1.js"></script>
  </body>
</html>
