<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%-about.name %></title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap" rel="stylesheet">
    <!-- Font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"/>
    <!-- Jquery UI -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- Custom stylesheet -->
    <link rel="stylesheet" href="/stylesheets/template2.css">
</head>
<body id="admin">
    <div style="display:none" id="template"><%=template.name%></div>
    <div class="wrapper">
        <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <nav class="nav">
            <div class="nav-img avatar">
                <div class="nav-img-overlay"></div>
                <i class="fas fa-upload"></i>
                <img id="avatar-img" src="<%=path+avatar%> " alt="Avatar"/>
                <input type="file" id="file-img" class="nav-img-upload" onchange="readURL(this, '#avatar-img');">
            </div>

            <ul class="nav-list">
                <li class="nav-item about"><a href="#about" class="nav-link about current-page">About</a></li>
                <li class="nav-item research"><a href="#research" class="nav-link research">Research Interests</a></li>
                <li class="nav-item academic"><a href="#academic" class="nav-link academic">Academic record</a></li>
                <li class="nav-item new"><a href="#new" class="nav-link new">New</a></li>
                <li class="nav-item teaching"><a href="#teaching" class="nav-link teaching">Teaching</a></li>
                <li class="nav-item thesis"><a href="#thesis" class="nav-link thesis">Thesis Advising</a></li>
                <li class="nav-item grant"><a href="#grant" class="nav-link grant">Research Grant</a></li>
                <li class="nav-item publication"><a href="#publication" class="nav-link publication">Publications</a></li>
            </ul>
        </nav>

        <div class="main">

            <section id="about">
                <div class="list-group-item name"><%-about.name%></div>
                <div class="list-group-item position"><%-about.level%></div>

                <div class="work-list">
                    <i class="fas fa-plus-circle btn-plus mg-left-0"></i>

                    <div class="list-group education" id="group1">
                        <% about.university.forEach(element => { %>
                            <div class="hover">
                                <i class="fas fa-trash-alt btn-trash"></i>
                                <div class="list-group-item">
                                    <p><%-element%> </p>
                                </div>
                                <i class="fas fa-arrows-alt btn-arrow"></i>
                            </div>
                        <% }) %>
                    </div>
                </div>

                <div class="list-group contact">
                    <div>
                        <i class="fa fa-address-card"></i>
                        <div class="list-group-item"><p><%-about.address%> </p></div>
                    </div>
                    <div>
                        <i class="fa fa-phone-square"></i>
                        <div class="list-group-item"><p><%-about.phone%> </p></div>
                    </div>
                    <div>
                        <i class="fa fa-fax"></i>
                        <div class="list-group-item"><p><%-about.fax%> ></p></div>
                    </div>
                    <div>
                        <i class="fa fa-envelope"></i>
                        <div class="list-group-item mail">
                            <% for( let i = 0; i < about.mail.length-1; i++ ) { %>
                                <p><a href="#"><%-about.mail[i]%></a></p>; 
                            <% } %>
                            <% if (about.mail.length-1>=0) { %>
                                <p><a href="#"><%-about.mail[about.mail.length-1]%></a></p>
                            <% } %>
                        </div>
                    </div>
                </div>  
            </section>

            <section id="research" class="research">
                <div class="title">
                    RESEARCH INTERESTS
                    <i class="fas fa-plus-circle btn-plus"></i>
                </div>
                <div class="list-group" id="group2">
                    <%research_interest.forEach(element => { %>
                        <div class="hover research-item">
                            <i class="fas fa-trash-alt btn-trash"></i>
                            <i class="fas fa-arrows-alt btn-arrow"></i>
                            <div class="list-group-item"><p><%-element%></p></div>
                        </div>
                    <% }) %>
                </div>
            </section> 

            <section id="academic" class="academic">
                <div class="title">
                    Academic
                    <i class="fas fa-plus-circle btn-plus"></i>
                </div>
                <div class="list-group" id="group3">
                    <% academic.forEach(element => { %>
                        <div class="academic-item hover">
                            <i class="fas fa-trash-alt btn-trash top-0"></i>
                            <i class="fas fa-arrows-alt btn-arrow"></i>
                            <i class="fas fa-graduation-cap ic-academic"></i>
                            <div class="list-group-item academic-item-time text-primary"><%- element.time %> </div>
                            <div class="list-group-item academic-item-name text-primary">
                                <%-element.university%> 
                            </div>
                            <div class="list-group-item academic-item-location"><%-element.location%> </div>
                            <div class="list-group-item academic-level"><%-element.level%></div>
                            <div class="list-group-item academic-description"><%-element.descript%></div>
                        </div>
                    <% }) %>
                </div>
            </section>
            
            <section id="new" class="new">
                <div class="title">
                    News
                    <i class="fas fa-plus-circle btn-plus"></i>
                </div>
                <div class="list-group" id="group11">
                    <% news.forEach(element => { %>
                        <div class="hover new-item">
                            <i class="fas fa-trash-alt btn-trash"></i>
                            <i class="fas fa-arrows-alt btn-arrow"></i>
                            <div class="list-group-item"><%-element%></div>
                        </div>
                    <% }) %>
                </div>
            </section>
            
            <section id="teaching" class="teaching">
                <div class="title">
                    Teaching
                </div>

                <div class="list-group teaching-container">
                    <div class="teaching-title">
                        <span>ACADEMIC YEAR</span>
                        <div class="list-group-item teaching-year"><%-teaching.academic_year%></div>
                    </div>

                    <div class="teaching-list">
                        <div class="teaching-item graduate">
                            <div class="teaching-name">
                                <div>GRADUATE COURSES</div>
                                <i class="fas fa-plus-circle btn-plus"></i>
                            </div>
                            <div class="list-group teaching-content" id="group7">
                                <% teaching.graduate_course.forEach(element => { %>
                                    <div class="hover">
                                        <i class="fas fa-trash-alt btn-trash"></i>
                                        <i class="fas fa-arrows-alt btn-arrow"></i>
                                        <div class="list-group-item"><%-element%> </div> 
                                    </div>
                                <% }) %>
                            </div> 
                        </div>

                        <div class="teaching-item undergraduate">
                            <div class="teaching-name">
                                <div>UNDERGRADUATE COURSES</div>
                                <i class="fas fa-plus-circle btn-plus"></i>
                            </div>
                            <div class="list-group teaching-content" id="group8">
                                <% teaching.undergraduate_courses.forEach(element => { %>
                                    <div class="hover">
                                        <i class="fas fa-trash-alt btn-trash"></i>
                                        <i class="fas fa-arrows-alt btn-arrow"></i>
                                        <div class="list-group-item"><%-element%> </div> 
                                    </div>
                                <% }) %>
                            </div> 
                        </div>
                    </div>
                </div>
            </section>
           
            <section id="thesis" class="thesis">
                <div class="title">
                    Thesis
                    <i class="fas fa-plus-circle btn-plus"></i>
                </div>
                <div class="list-group thesis-tag" id="group4">
                    <% thesis.link.forEach(element => { %>
                        <div class="hover thesis-link">
                            <i class="fas fa-trash-alt btn-trash"></i>
                            <i class="fas fa-arrows-alt btn-arrow"></i>
                            <div class="list-group-item">
                               <%-element%> 
                            </div>
                        </div>
                    <% }) %>
                </div>
                <div class="thesis-container">
                    <div class="add">
                        <i class="fas fa-plus-circle btn-plus mg-left-0"></i>
                    </div>
                    
                    <div class="list-group thesis-list">
                        <% thesis.content.forEach(element => { %>
                            <div class="thesis-item">
                                <i class="fas fa-trash-alt btn-trash"></i>
                                <i class="fas fa-arrows-alt btn-arrow"></i>
                                
                                <div class="thesis-name">
                                    <div class="list-group-item"><%-element.name%> </div>
                                    <i class="fas fa-plus-circle btn-plus"></i>
                                </div>
    
                                <div id="group10" class="list-group thesis-content thesis-example">
                                    <% element.list_content.forEach(content => { %>
                                        <div class="hover">
                                            <i class="fas fa-trash-alt btn-trash"></i>
                                            <i class="fas fa-arrows-alt btn-arrow"></i>
                                            <div class="list-group-item"><%-content%></div> 
                                        </div>
                                    <% }) %>
                                </div>
                            </div>
                        <% }) %>
                        
                    </div>
                </div>
            </section>
                
            <section id="grant" class="grant research-grant">
                <div class="title">
                    RESEARCH GRANT
                    <i class="fas fa-plus-circle btn-plus"></i>
                </div>
                <div class="list-group" id="group5">
                    <% research_grant.forEach(element => { %>
                        <div class="hover grant-item">
                            <i class="fas fa-trash-alt btn-trash"></i>
                            <i class="fas fa-arrows-alt btn-arrow"></i>
                            <div class="list-group-item"><%-element%> </div>
                        </div>
                    <% }) %>
                </div>
            </section> 
         
            <section id="publication" class="publication">
                <div class="title">
                    Publication
                </div>

                <div class="list-group publication-container">
                    <div class="publication-book book">
                        <div class="subtitle text-primary">
                            Book
                            <i class="fas fa-arrows-alt btn-arrow"></i>
                            <i class="fas fa-plus-circle btn-plus"></i>
                        </div>

                        <div class="list-group" id="group6">
                            <div class="hover book-item">
                                <i class="fas fa-trash-alt btn-trash"></i>
                                <i class="fas fa-arrows-alt btn-arrow"></i>
                                <div class="list-group-item item-pdf">Huynh Quyet Thang. Software Engineering Economics. Bach Khoa Ha Noi Publishing Inc, 2016. ISBN ISBN 978-604-938-864-4</div>
                            </div>
                            <% public.book.forEach(element => { %>
                                <div class="hover book-item">
                                    <i class="fas fa-trash-alt btn-trash"></i>
                                    <i class="fas fa-arrows-alt btn-arrow"></i>
                                    <div class="list-group-item item-pdf"><%-element.content%></div>
                                </div>
                            <% }) %>
                        </div>
                    </div>

                    <div class="publication-detail paper">
                        <div class="subtitle text-primary publication-details-title">
                            PUBLISHED PAPERS (SELECTED)
                            <i class="fas fa-arrows-alt btn-arrow"></i>
                            <i class="fas fa-plus-circle btn-plus"></i>
                        </div>

                        <div class="list-group publication-list">
                            <% public.paper.forEach(element => { %>
                                <div class="publication-item">
                                    <i class="fas fa-trash-alt btn-trash"></i>
                                    <i class="fas fa-arrows-alt btn-arrow"></i>
            
                                    <div class="publication-name">
                                        <div class="list-group-item"><%-element.name%> </div>
                                        <i class="fas fa-plus-circle btn-plus"></i>
                                    </div>
                                    <div id="group9" class="list-group publication-content">
                                        <% element.contents.forEach(content => { %>
                                            <div class="hover">
                                                <i class="fas fa-trash-alt btn-trash"></i>
                                                <i class="fas fa-arrows-alt btn-arrow"></i>
                                                <i class="far fa-file-pdf btn-pdf"></i>
                                                <div class="list-group-item item-pdf">
                                                    <%-content.content%>
                                                    <% if (content.link !== "") { %>
                                                        <%-content.link%> 
                                                    <% } %>
                                                </div> 
                                            </div>
                                        <% }) %>
                                    </div>
                                </div>
                            <% }) %>
                        </div>
                    </div>
                </div>
            </section>
            
            <footer class="footer"><button type="submit" class="btn-submit" onclick="Save()">Submit</button></footer>
        </div>

        <div class="circle theme-setting" draggable="true"><i class="fas fa-cog"></i></div>

        <div class="options">
            <div class="color default"></div>
            <div class="color green"></div>
            <div class="color brown"></div>

            <div class="options-list">
                <div class="options-theme options-item theme-show">
                    <span class="btn-list-themes theme-show"><i class="far fa-clone theme-show"></i></span>
                    <div class="themes theme-show">
                        <span class="theme-show">Themes</span>
                        <div class="themes-list theme-show">
                            <a href="#" class="themes-item theme-show">1</a>
                            <a href="#" class="themes-item theme-show">2</a>
                        </div>
                    </div>
                </div>

                <div class="options-document options-item categories-show">
                    <span class="btn-list-categories categories-show"><i class="fas fa-list-alt categories-show"></i></span>
                    <div class="categories categories-show">
                        <span class="categories-show">Danh mục</span>
                        <div class="categories-show">
                            <input type="checkbox" id="res" class="btn-checkbox research categories-show" checked>
                            <label for="res" class="lbl-categories categories-show">Research Interests</label>
                        </div>
                        <div class="categories-show">
                            <input type="checkbox" id="aca" class="btn-checkbox academic categories-show" checked>
                            <label for="aca" class="lbl-categories categories-show">Academic record</label>
                        </div>
                        <div class="categories-show">
                            <input type="checkbox" id="ne" class="btn-checkbox new categories-show" checked>
                            <label for="ne" class="lbl-categories categories-show">New</label>
                        </div>
                        <div class="categories-show">
                            <input type="checkbox" id="teach" class="btn-checkbox teaching categories-show" checked>
                            <label for="teach" class="lbl-categories categories-show">Teaching</label>
                        </div>
                        <div class="categories-show">
                            <input type="checkbox" id="thes" class="btn-checkbox thesis categories-show" checked>
                            <label for="thes" class="lbl-categories categories-show">Thesis</label>
                        </div>
                        <div class="categories-show">
                            <input type="checkbox" id="research-grant" class="btn-checkbox grant categories-show" checked>
                            <label for="research-grant" class="lbl-categories categories-show">Research Grant</label>
                        </div>
                        <div class="categories-show">
                            <input type="checkbox" id="pub" class="btn-checkbox publication categories-show" checked>
                            <label for="pub" class="lbl-categories categories-show">Publications</label>
                        </div>
                        <div class="categories-show">
                            <input type="checkbox" id="bo" class="btn-checkbox book categories-show" checked>
                            <label for="bo" class="lbl-categories categories-show">Book</label>
                        </div>
                        <div class="categories-show">
                            <input type="checkbox" id="pa" class="btn-checkbox paper categories-show" checked>
                            <label for="pa" class="lbl-categories categories-show">PUBLISHED PAPERS (SELECTED)</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal modal-themes">
            <div class="modal-content">
                    <div class="modal-close">
                        <span class="btn-close-modal"><i class="fas fa-times"></i></span>
                    </div>
                    <h3 class="modal-content-title text-primary">Thông báo</h3>

                <div class="modal-body">
                    <h3>Bạn có muốn lưu lại CV hay không?</h3>
                </div>

                <div class="modal-footer">
                    <button class="btn-cancel btn">Hủy bỏ</button>
                    <button class="btn-apply btn">Lưu</button>
                </div>
            </div>
        </div>
        
        <div class="modal modal-successful">
            <div class="modal-content">
                <div class="modal-body text-center mt-0 mb-0">
                    <div class="d-flex align-items-center justify-content-center">
                        <span class="ic-success"><i class="fas fa-check"></i></span>    
                    </div>
                    <h3 class="success-title">Success</h3>
                    <p>Đã lưu dữ liệu thành công</p>
                </div>
                <div class="modal-footer d-flex align-items-center justify-content-center">
                    <button class="btn-ok btn">Xác nhận</button>
                </div>
            </div>
        </div>
    </div>

    <script src="/javascripts/jquery-3.6.0.min.js"></script>
    <script src="/ckeditor/ckeditor.js"></script>
    <script src="/ckeditor/config.js"></script>
    <!-- Sortable -->
    <script src="https://unpkg.com/sortablejs-make/Sortable.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-sortablejs@latest/jquery-sortable.js"></script>
    <!-- Jquery UI -->
    <!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->
    <script src="/javascripts/template2.js"></script>
    <script src="/javascripts/convertToGuess.js"></script>
    <script src="/javascripts/getData2.js"></script>
</body>
</html>
