<!DOCTYPE html>
<html lang="en" style="--primary-color: <%= template.color%>; --primary-background:<%= template.background_color%>">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%-about.name %></title>
    <!-- Font roboto -->
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <!-- Font awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <!-- CkEditable -->
    <script src="/ckeditor/ckeditor.js"></script>

    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />
    <!-- Stylesheet -->
    <link rel="stylesheet" href="/stylesheets/template1.css" />
  </head>
  <body id="admin">
    <div style="display:none" id="template"><%=template.name%></div>
    <div class="container main">
      <nav class="navbar navbar-expand-custom navbar-light nav">
        <a href="#" class="navbar-brand">HOME</a>
        <button
          class="navbar-toggler d-lg-none"
          type="button"
          data-toggle="collapse"
          data-target="#collapsibleNavId"
          aria-controls="collapsibleNavId"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0 nav-list">
            <li class="nav-item about active" data-page="about">
              <a class="nav-link about" href="#about">about</a>
            </li>
            <li class="nav-item research" data-page="research">
              <a href="#research" class="nav-link research">Research Interests</a>
            </li>
            <li class="nav-item academic" data-page="academic">
              <a class="academic nav-link" href="#academic">Academic</a>
            </li>
            <li class="nav-item new" data-page="new">
              <a class="nav-link new" href="#new">new</a>
            </li>
            <li class="nav-item teaching" data-page="teaching">
              <a class="nav-link teaching" href="#teaching">teaching</a>
            </li>
            <li class="nav-item thesis" data-page="thesis">
              <a class="nav-link thesis" href="#thesis">thesis</a>
            </li>
            <li class="nav-item grant" data-page="grant">
              <a class="nav-link grant" href="#grant">research grant</a>
            </li>
            <li class="nav-item publication" data-page="publication">
              <a class="nav-link publication" href="#publication"
                >publications</a
              >
            </li>
          </ul>
        </div>
      </nav>
      <div class="content wrap-about" id="about">
        <div class="avatar col-12 col-sm-12 col-md-5 col-lg-4">
          <img id="avatar-img" src="<%=path+avatar%>" alt="avatar" />
          <input type="file" id="file-img" class="chosen-file nav-img-upload" hidden />
          <label for="file" class="label-file-img btn btn-danger"
            ><i class="fas fa-upload"></i
          ></label>
        </div>
        <div class="about-right col-12 col-sm-12 col-md-7 col-lg-8">
          <h3>
            <div class="name list-group-item"><%-about.name%></div>
          </h3>
          <div class="title">
            <h5><div class="position list-group-item"><%-about.level%></div></h5>
            <i class="fa fa-plus btn-add" aria-hidden="true"></i>
          </div>
          
          <!-- university container -->
          <div class="list-group education" id="group1">
            <% about.university.forEach(item => { %>
              <div class="hover">
                <i class="fas fa-arrows-alt btn-arrow"></i>
                <i class="fas fa-trash-alt btn-trash"></i>
                <div class="list-group-item">
                  <p><%-item%></p>
                </div>
              </div>
            <% }) %>
            <!-- -------------------------------------------------------------------- -->
          </div>
        </div>
      </div>

      <!-- contact container -->
      <div class="content wrap-address">
        <div class="title">
          <h2>Contact Information</h2>
        </div>
        <div class="list-group contact">

          <div class="contact-group">
            <i class="fa fa-address-card icon" aria-hidden="true"></i>
            <div class="list-group-item about_address">
             <%-about.address %> 
            </div>
          </div>

          <div class="contact-group">
            <i class="fa fa-phone-square icon" aria-hidden="true"></i>
            <div class="list-group-item"><%-about.phone %></div>
          </div>

          <div class="contact-group">
            <i class="fa fa-fax icon" aria-hidden="true"></i>
            <div class="list-group-item"><%-about.fax %></div>
          </div>

          <!-- mail container -->
          <div class="contact-group">
            <i class="fa fa-envelope icon" aria-hidden="true"></i>
            <div class="list-group-item">
              <% for( let i = 0; i < about.mail-1; i++ ) { %>
                    <%-about.mail[i]%>; 
              <% } %>
              <% if (about.mail.length-1>=0) { %>
                <%-about.mail[about.mail.length-1]%>
              <% } %>
            </div>
          </div>

        </div>
        <!-- ---------------------------------------------- -->
      </div>

      <!-- research interest container -->
      <div class="content research" id="research">
        <div class="title">
          <h2>RESEARCH INTERESTS</h2>
          <i class="fa fa-plus btn-add" aria-hidden="true"></i>
        </div>
        <div class="list-group" id="group2">
          <% research_interest.forEach(element => { %>
            <div class="hover">
              <i class="fas fa-arrows-alt btn-arrow"></i>
              <i class="fas fa-trash-alt btn-trash"></i>
              <div class="list-group-item">
                <%- element %> 
              </div>
            </div>
          <% }) %>
        </div>
      </div>
       <!-- ------------------------------------------------------------------------------------ -->

      <!-- academic container -->
      <div class="content academic" id="academic">
        <div class="title mb-3">
          <h2>ACADEMIC</h2>
          <i class="fa fa-plus btn-add" aria-hidden="true"></i>
        </div>
        <div class="list-group" id="group3">
          <% academic.forEach(item => { %>
            <div class="academic-item hover">
              <i class="fas fa-arrows-alt btn-arrow"></i>
              <i class="fas fa-trash-alt btn-trash"></i>
              <div class="list-group-item academic-item-time"><%-item.time%></div>
              <div class="list-group-item academic-item-name">
                <a href="#"><%- item.university %></a>
              </div>
              <div class="list-group-item academic-item-location"><%- item.location %></div>
              <div class="list-group-item academic-level"><%- item.level %></div>
              <div class="list-group-item academic-description text-secondary"><%- item.descript %></div>
            </div>
          <% }) %>
        </div>
      </div>
      <!-- ------------------------------------------------------------------------------------ -->

      <!-- news container -->
      <div class="content new" id="new">
        <div class="title">
          <h2>NEWS</h2>
          <i class="fa fa-plus btn-add" aria-hidden="true"></i>
        </div>
        <div class="list-group" id="groupNew">
          <div class="hover">
            <i class="fas fa-arrows-alt btn-arrow"></i>
            <i class="fas fa-trash-alt btn-trash"></i>
            <div class="list-group-item">
              <span
                >SOFTWARE QUALITY; SOFTWARE TESTING; METHODS IN SOFTWARE
                DEVELOPMENT</span
              >
            </div>
          </div>
          <div class="hover">
            <i class="fas fa-arrows-alt btn-arrow"></i>
            <i class="fas fa-trash-alt btn-trash"></i>
            <div class="list-group-item">
              <span>MULTI-OBJECTIVE OPTIMIZATION; PROJECT MANAGEMENT</span>
            </div>
          </div>
          <div class="hover">
            <i class="fas fa-arrows-alt btn-arrow"></i>
            <i class="fas fa-trash-alt btn-trash"></i>
            <div class="list-group-item">
              <span>BIG DATA PROCESSING AND ANALYTICS</span>
            </div>
          </div>
        </div>
      </div>
      <!-- ------------------------------------------------------------------------------------ -->

      <!-- teaching container -->
      <div class="content teaching" id="teaching">
        <div class="title">
          <h2>TEACHING</h2>
        </div>
        <div class="list-group">
          <div class="wrap-year d-flex">
            <h4>ACADEMIC YEAR</h4>
            <div class="list-group-item teaching-year" style="padding: 0; margin-left: 10px">
              <h4><%- teaching.academic_year %></h4>
            </div>
          </div>

          <div class="graduate mb-4">
            <div class="title">
              <h5 class="text-secondary">GRADUATE COURSES</h5>
              <i class="fa fa-plus btn-add" aria-hidden="true"></i>
            </div>
            <div class="list-group" name="same-text" id="group4">
              
              <% teaching.graduate_course.forEach(item => { %>
                <div class="hover">
                  <i class="fas fa-arrows-alt btn-arrow"></i>
                  <i class="fas fa-trash-alt btn-trash"></i>
                  <div class="list-group-item text-secondary">
                   <%- item %> 
                  </div>
                </div>
              <% }) %>

            </div>
          </div>

          <div class="university undergraduate">
            <div class="title">
              <h5 class="text-secondary">UNDERGRADUATE COURSES</h5>
              <i class="fa fa-plus btn-add" aria-hidden="true"></i>
            </div>

            <div class="list-group" name="same-text" id="group5">
              <% teaching.undergraduate_courses.forEach(item => { %>
                <div class="hover">
                  <i class="fas fa-arrows-alt btn-arrow"></i>
                  <i class="fas fa-trash-alt btn-trash"></i>
                  <div class="list-group-item text-secondary">
                    <%- item %> 
                  </div>
                </div>
              <% }) %>
            </div>

          </div>
        </div>
      </div>
      <!-- ------------------------------------------------------------------------------------ -->

      <!-- thesis container -->
      <div class="content thesis" id="thesis">
        <div class="content-thesis">
          <div class="title">
            <h2>THESIS</h2>
            <i class="fa fa-plus btn-add" aria-hidden="true"></i>
          </div>

          <!-- link container -->
          <div class="list-group thesis-tag" id="group6">
            <% thesis.link.forEach(element => { %>
              <div class="hover thesis-link">
                <i class="fas fa-arrows-alt btn-arrow"></i>
                <i class="fas fa-trash-alt btn-trash"></i>
                <div class="list-group-item">
                  <%- element %> 
                </div>
              </div>
            <% }) %>
          </div>

          <% for( let i = 0; i < thesis.content.length; i++ ) { %>
                <% if (thesis.content[i].list_content) { %>
                  <div class="thesis-item">
                    <div class="title thesis-name">
                      <h5 class="list-group-item"><%-thesis.content[i].name%></h5>
                      <i class="fa fa-plus btn-add" aria-hidden="true"></i>
                    </div>
                    <div class="list-group" name="same-text" id="group9">
                      <% thesis.content[i].list_content.forEach(item => { %>
                        <div class="hover">
                          <i class="fas fa-arrows-alt btn-arrow"></i>
                          <i class="fas fa-trash-alt btn-trash"></i>
                          <div class="list-group-item text-secondary">
                            <%- item %> 
                          </div>
                        </div>
                      <% }) %>
                    </div>
                  </div>
                <% } %>
          <% } %>
            
        </div>
      </div>
      <!-- ------------------------------------------------------------------------------------ -->

      <!-- research grant container -->
      <div class="content research-grant" id="grant">
        <div class="title">
          <h2>RESEARCH GRANTS</h2>
          <i class="fa fa-plus btn-add" aria-hidden="true"></i>
        </div>
        <div class="list-group" id="group10">
          <% research_grant.forEach(item => { %>
            <div class="hover">
              <i class="fas fa-arrows-alt btn-arrow"></i>
              <i class="fas fa-trash-alt btn-trash"></i>
              <div class="list-group-item text-secondary">
                <%- item %> 
              </div>
            </div>
          <% }) %>
        </div>
      </div>
      <!-- ------------------------------------------------------------------------------------ -->

      <!-- public container -->
      <div class="content publication" id="publication">
        <div class="title">
          <h2 class="title">publications</h2>
          <i class="fa fa-plus btn-add addContentPublication" aria-hidden="true"></i>
        </div>
        <div class="publications-wrapper list-group">
          <!-- book container -->
          <div class="publication-item publication-book">
            <div class="title">
              <h5 class="subtitle list-group-item">BOOKS</h5>
              <i class="fas fa-arrows-alt"></i>
              <i class="fa fa-plus btn-add" aria-hidden="true"></i>
              <i class="fas fa-trash-alt"></i>
            </div>
            <div class="list-group" name="same-text" id="group11">
              <% for( let i = 0; i < public.book.length; i++ ) { %>
                <div class="hover">
                  <i class="fas fa-arrows-alt btn-arrow"></i>
                  <i class="fas fa-trash-alt btn-trash"></i>
                  <div class="list-group-item text-secondary">
                    <%- public.book[i].content %> 
                  </div>
                </div>
              <% } %>
            </div>
          </div>

          <!-- paper container -->
          <div class="publication-detail">
            <div class="publication-wrapper">

              <div class="title">
                <h5 class="subtitle list-group-item mr-2">PUBLISHED PAPERS (SELECTED)</h5>
                <i class="fas fa-arrows-alt"></i>
                <i class="fa fa-plus btn-add addPublishedPaper" aria-hidden="true"></i>
              </div>

              <div class="publication-list list-group">
                <% public.paper.forEach(paperGroup => { %>
                    <div class="publication-item">
                      <div class="title publication-name">
                        <div class="list-group-item mr-2">
                          <strong class="text-dark" style="opacity: 0.9; font-size: 17px"><%-paperGroup.name%> </strong>
                        </div>
                        <i class="fas fa-arrows-alt"></i>
                        <i class="fa fa-plus btn-add" aria-hidden="true"></i>
                        <i class="fas fa-trash-alt"></i>
                      </div>
                      <div class="list-group" name="same-pdf" id="group12">
                        <% paperGroup.content.forEach(element => { %>
                          <div class="hover">
                            <i class="fas fa-arrows-alt btn-arrow"></i>
                            <div class="pub-chosen-right">
                              <i class="fas fa-trash-alt"></i>
                              <input type="file" id="pdf" name="pdf" accept="application/pdf" value="PDF"/>
                              <label class="pdf" for="pdf">PDF</label>
                            </div>
                            <div class="list-group-item text-secondary">
                              <%- element %> 
                            </div>
                          </div>
                        <% }) %>
                      </div>
                    </div>
                <% }) %>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <button type="submit" onclick="Save()" class="btn btn-danger btn-submit">Save</button>
      </div>
      <div class="theme-setting">
        <button class="btn btn-light btn-cogs">
          <i class="fas fa-cogs"></i>
        </button>
        <div class="content-theme">
          <h5>Color</h5>
          <ul class="list-color">
            <li data-color="color1"></li>
            <li data-color="color2"></li>
            <li data-color="color3"></li>
            <li data-color="color4"></li>
            <li data-color="color5"></li>
            <li data-color="color6"></li>
            <li data-color="color7"></li>
            <li data-color="color8"></li>
          </ul>
        </div>
        <div class="content-theme">
          <h5>Background</h5>
          <ul class="list-background">
            <li data-background="background1"></li>
            <li data-background="background2"></li>
            <li data-background="background3"></li>
            <li data-background="background4"></li>
            <li data-background="background5"></li>
            <li data-background="background6"></li>
            <li data-background="background7"></li>
            <li data-background="background8"></li>
          </ul>
        </div>
        <div class="content-theme">
          <h5>Themes</h5>
          <ul class="list-theme">
            <li data-theme="theme1">1</li>
            <li data-theme="theme2">2</li>
          </ul>
        </div>
      </div>
      <div class="mood-wrapper">
        <div class="mood">
          <div class="main-mood">
              <button type="button" class="close btn-close" data-dismiss="alert">&times;</button>
              <div class="mood-content">
                Do you want to switch to interface 2?
              </div>
              <div class="mood-btn-wrapper">
                <button class="btn btn-danger">Confirm</button>
                <button class="btn btn-secondary btn-close">Cancel</button>
              </div>
          </div>
        </div>
      </div>
      <div class="success-wrapper">
        <div class="success">
          <div class="main-success">
              <button type="button" class="close btn-close" data-dismiss="alert">&times;</button>
              <div class="success-content">
                 Your data was saved.
              </div>
              <div class="mood-btn-wrapper">
                <button class="btn btn-danger btn-close">Confirm</button>
              </div>
          </div>
        </div>
      </div>
    </div>
    <!-- JS -->
    <script src="/javascripts/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/sortablejs-make/Sortable.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-sortablejs@latest/jquery-sortable.js"></script>
    <script src="/javascripts/template1.js"></script>
    <script src="/javascripts/convertToGuess.js"></script>
    <script src="/javascripts/getData2.js"></script>
  </body>
</html>
